body {
    display: grid;
    place-items: center; /* Centra horizontal y verticalmente */
    height: 100vh; /* Asegura que el body ocupe toda la ventana */
    margin: 0; /* Elimina márgenes por defecto */
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor{
    display: grid;
    width: 700px;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 15px 1fr 15px;
    overflow: hidden;
    align-items: center;
    place-items: center;
}
.contenedor h1{
    font-family: "Eater", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
}
.contenedor h5{
    font-family: "Eater", serif;
    font-weight: 400;
    font-size: 85%;
    font-style: normal;
}

.juegos{
    grid-column: 1/2;
    grid-row: 2/3;
}


.apps{
    grid-column: 2/3;
    grid-row: 2/3;
}

.familia{
    grid-column: 1/2;
    grid-row: 4/5;
}

.amigos{
    grid-column: 2/3;
    grid-row: 4/5;
}

.contenedor img{
    width: 185px;
    height: 185px;
    object-fit: cover;
    transition: all 0.9s;
    overflow: hidden
}


.contenedor img:hover{
    width: 195px;
    height: 195px;
    transform: scale(1.1);
    transition: all 0.9s;
}

.contenedor h1{
    text-align: center;
    grid-column: 1/3;
}