

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: auto;
    padding: 25px;
    text-align: center;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.todo > *{
    padding: 10px;
    border-radius: 20px;

}
.todo{
    display: grid;
    gap: 10px;
    grid-template: 
    " inicio " 25px
    "header" 25px
    "main" auto
    "sidebar" 85px
    "navbar" 85px
    "footer" 35px
 
    ;
    .inicio{
        display: grid;
        grid-area: inicio;    }
    
    .inicio img {
        width: 30px;
        height:30px;
        transition: all 0.9s;
        object-fit: contain;
    }

    

    .inicio img:hover{
        width: 32px;
        height: 32px;
        transform: scale(0.8);
        transition: all 0.9s;
    }
    

    .header{
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        place-items: center;
    }



    .header h2{
        font-family: "Eater", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 8px;
    }


    .navbar{
        grid-area: navbar;
        display: grid;
        align-items: center;
        place-items: center;
        grid-template-columns: 1fr 1fr;

    }

    .navbar img{
        width: 35%;
        height: 35%;
        transition: all 0.9s;
        overflow: hidden
    }

    .navbar img:hover{
        width: 40%;
        height: 40%;
        transform: scale(0.8);
        transition: all 0.9s;
    }

    .main{
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .main img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        padding: 5px;
        transition: all 0.9s;
        overflow: hidden;
    }

    .main img:hover{
        width: 105%;
        height: 105%;
        transform: scale(0.7);
        transition: all 0.9s;
    }
    .sidebar{
        grid-area: sidebar;
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .sidebar img{
        width: 35%;
        height: 35%;
        transition: all 0.9s;
        overflow: hidden
    }

    .sidebar img:hover{
        width: 40%;
        height: 40%;
        transform: scale(0.8);
        transition: all 0.9s;
    }

    .footer{
        grid-area: footer;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .footer img{
        width: 100%;
        height: 100%;
        transition: all 0.9s;
        overflow: hidden;
        object-fit: contain;
    }

    .footer h5{
        font-family: "Eater", serif;
        font-weight: 400;
        font-style: normal;
    }

    .footer p{
        font-family: "Eater", serif;
        font-weight: 400;
        font-size: 50%;
        font-style: normal;
    }



    @media (min-width:768px) {
        grid-template: 
            "header navbar" 50px
            "header navbar" 50px
            "sidebar main" auto
            "footer footer" 100px/
            150px auto
        ;

        .inicio{
            display: grid;
            grid-area: inicio;    
        }
        
        .inicio img {
            width: 55px;
            height: 55px;
            transition: all 0.9s;
            object-fit: contain;
            
        }
    
     
    
        .inicio img:hover{
            width: 32px;
            height: 32px;
            transform: scale(0.8);
            transition: all 0.9s;
        }
        
    
        .header{
            grid-area: header;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            place-items: center;
        }
    
    
    
        .header h2{
            font-family: "Eater", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 8px;
        }
    
    
        .navbar{
            grid-area: navbar;
            display: grid;
            align-items: center;
            place-items: center;
            grid-template-columns: 1fr 1fr;

    
        }


        .navbar img{
            width: 25%;
            height: 25%;
            transition: all 0.9s;
            overflow: hidden;
        }
    
        .navbar img:hover{
            width: 20%;
            height: 20%;
            transform: scale(0.8);
            transition: all 0.9s;
        }
    
        .main{
            grid-area: main;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

        }
    
        .main img{
            width: 100%;
            height: 100%;
            border-radius: 25px;
            padding: 5px;
            transition: all 0.9s;
            overflow: hidden;
        }
    
        .main img:hover{
            width: 105%;
            height: 105%;
            transform: scale(0.7);
            transition: all 0.9s;
        }
        .sidebar{
            grid-area: sidebar;
            display: grid;
            place-items: center;
            align-items: center;
            grid-template-columns:  1fr;
            grid-template-rows: 1fr 1fr;
            gap: 20px;
        }
    
        .sidebar img{
            width: 45%;
            height: 45%;
            transition: all 0.9s;
            overflow: hidden
        }
    
        .sidebar img:hover{
            width: 20%;
            height: 20%;
            transform: scale(0.8);
            transition: all 0.9s;
        }
    
        .footer{
            grid-area: footer;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
        }
    
        .footer img{
            width: 80%;
            height: 80%;
            transition: all 0.9s;
            overflow: hidden;
            object-fit: contain;
            margin-top: 25px;
        }
    
        .footer h5{
            font-family: "Eater", serif;
            font-weight: 400;
            font-style: normal;
            margin-top: 25px;
        }
    
        .footer p{
            font-family: "Eater", serif;
            font-weight: 400;
            font-size: 50%;
            font-style: normal;
        }
    
    }

    @media (min-width:992px) {
        grid-template: 
            "header header inicio" 100px
            "navbar main sidebar" auto
            "footer footer footer" 150px/
            150px auto 150px
        ;

        .inicio{
            display: grid;
            grid-area: inicio;

        }
        
        .inicio img {
            width: 80%;
            height: 80%;
            transition: all 0.9s;
            object-fit: contain;
            
        }
    
        .inicio img:hover{
            width: 90%;
            height: 90%;
            transform: scale(0.8);
            transition: all 0.9s;
        }
    
        .header{
            grid-area: header;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            place-items: center;
        }
        .header h2{
            font-family: "Eater", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 50px;
        }
    
        .navbar{
            grid-area: navbar;
            display: grid;
            place-items: center;
            grid-template: repeat(2, 1fr) /1fr;
    
        }
    
        .navbar img{
            width: 50%;
            height: 50%;
            transition: all 0.9s;
            overflow: hidden
        }
    
        .navbar img:hover{
            width: 105%;
            height: 105%;
            transform: scale(0.8);
            transition: all 0.9s;
        }
    
        .main{
            grid-area: main;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    
        .main img{
            width: 100%;
            height: 100%;
            border-radius: 25px;
            padding: 5px;
            transition: all 0.9s;
            overflow: hidden;
        }
    
        .main img:hover{
            width: 105%;
            height: 105%;
            transform: scale(0.8);
            transition: all 0.9s;
        }
        .sidebar{
            grid-area: sidebar;
            display: grid;
            place-items: center;
            grid-template: repeat(2, 1fr) /1fr;
        }
    
        .sidebar img{
            width: 50%;
            height: 50%;
            transition: all 0.9s;
            overflow: hidden
        }
    
        .sidebar img:hover{
            width: 105%;
            height: 105%;
            transform: scale(0.8);
            transition: all 0.9s;
        }
    
        .footer{
            grid-area: footer;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    
        .footer img{
            width: 100%;
            height: 100%;
            transition: all 0.9s;
            overflow: hidden;
            object-fit: contain;
        }
    
        .footer h5{
            font-family: "Eater", serif;
            font-weight: 400;
            font-style: normal;
        }
    
        .footer p{
            font-family: "Eater", serif;
            font-weight: 400;
            font-size: 85%;
            font-style: normal;
        }
    
    }
}



