body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja{
    background-color: tomato;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    gap: 10px;
    text-align: center;
}

.cargando{
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 10px solid #2ecc71;
    border-radius: 50%;
    background-color: white;
    animation: cargan 1.5s infinite linear;
    justify-self: center;
    display: none;

}

p{
    font-size: 35px;
    color: white;
}
.abedruano{
    display: none;
}
.resultado{
    display: none;
}
h6{
    font-size: 35px;
    color: white;
    margin-bottom: 0;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #27ae60;
}



@keyframes cargan {
    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }
}


